/* :root {
    --main-text-color: #212121;
} */

body {
    
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color:#212121;
}

.head {
    background-color: #FFFFFF;
    list-style-type: none;
    
}
.site-logo {
    color:#212121;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}
.site-logo-part {
    color: #2196F3;
}
.navigation {
    list-style-type: none;
}

.navigation-links {
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  
    
}
.navigation-links:hover,
.navigation-links:focus
 {
    color: #2196F3;

}
.heroic {
    background-color: #2F303A;
}
.heroic-header {

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.heroic-button {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  
}
.feauters {
    background-color: #E5E5E5;
}
.feauters-head {
    visibility: hidden;
}
.feauters-list {
    list-style-type: none;
}
.feauters-chapters {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.feauters-text {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;   
    letter-spacing: 0.03em;
    color: #757575;
}
.activities {
    background-color: #E5E5E5;
}
.activities-head {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.activities-list {
    list-style-type: none;
}
.team {
    background-color: #F5F4FA;
}
.team-head {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;
}
.team-list {
    list-style-type: none;
}
.team-member {
    background: #FFFFFF;    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-member-name {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-member-position {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.bottom {
    background-color: #2F303A;;
}
.site-logo-part-2 {
    color: #FFFFFF;
}
.bottom-address {
    font-style: normal;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.bottom-list {
    list-style-type: none;
}
.bottom-nav-links {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.bottom-nav-links:hover,
.bottom-nav-links:focus{
    color: #2196F3;
}
.portfolio  {
    background-color: #E5E5E5;
}
.portfolio-head {
    visibility: hidden;
}
.portfolio-button-list {
    list-style-type: none;
}
.filter-button {
    background-color: #F5F4FA;
    border-radius: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px; 
    letter-spacing: 0.03em;
    color: #212121;
}
.filter-button:hover,
.filter-button:focus{
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio-list {
    list-style-type: none;
}
.portfolio-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.portfolio-item-head {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-item-box {
    text-decoration: none;
}
.portfolio-item-class {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}